 * { box-sizing: content-box; }
  body { font-family: sans-serif; }
  .carousel {
    height: auto;
    overflow: hidden;
  }
  .carousel-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }
  .carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
  }