{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="../media/photos/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Fashion Website Design Tutorial</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- header section starts  -->
{% include 'inc/_nav.html' %}
<!-- header section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">
    <h1 class="heading"> <span>contact</span> us </h1>
    <div class="row">
        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <input type="text" placeholder="your name">
                <input type="email" placeholder="your email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="your number">
                <input type="text" placeholder="your subject">
            </div>
            <textarea placeholder="your message" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>
    </div>
</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">
    <div class="credit"> We can see <span>you</span> </div>
</section>

<!-- footer section ends -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>