{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="../media/photos/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SDA </title>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

	<style>
		a {
			color: black;
		}
		a:hover {
			color: #FFCF40;
		}
	</style>

	</head>
	<body>
	{% include 'inc/_navSlug.html' %}
		<div>
			<div class="container" style="margin-top: 70px;">
					<center><img src="{{artist.photo.url}}" style="max-width: 450px; max-height: 450px;"></center>
						<center><h2><a href="../../welcome" style="text-decoration: none;">{{artist.name}}</a></h2>
					<br>
					<br>
					<h2>Albums:</h2>
						{% for i in album %}
						<a href="{% url 'album_detail' slug=i.slug %}">
							<h3>{{i.title}}</h3>
						</a>
						{% endfor %}
					</center>
					<br>
					<br>
				<h2>Biography:</h2>
					<div style="font-size: 20px;
  						margin: 5px 20px 10px 20px;">
							{{artist.description}}
					</div>
				</div>
			</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
  	<script src="{% static '../script.js' %}"></script>
	</body>
</html>
