{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="../media/photos/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SDA </title>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">

	<style>
		a {
			color: black;
		}
		a:hover {
			color: #FFCF40;
		}
	</style>

	</head>
	<body>
	{% include 'inc/_navSlug.html' %}

		<div style="margin-top: 100px;">
			<div class="container">
				<div class="row">
					<h1>{{ artist.name }}</h1>
					<p>{{ artist.description }}</p>
					<img src="{{ artist.photo.url }}" alt="{{ artist.title }} cover">
				</div>
			</div>
		</div>

	</body>
</html>

