{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDA</title>
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <img src="image/logo.jfif" style="width: 40px; height: 40px">

    <nav class="navbar">
        <a href="login">Sign In</a>
        <a href="register">If you don't have an account sign up</a>
    </nav>
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="type artist or track name..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->

<!-- deal section starts  -->

<section class="deal" style="margin-top: 75px;">

    <div class="image">
        <img src="image/music_notes_index.png">
    </div>

    <div class="content">
        <span>Music is Life!</span>
        <h3>Listen favourite track!</h3>
        <p>Music is an art of sound in time that expresses ideas and emotions in significant forms through the elements of rhythm, melody, harmony, and color.</p>
    </div>

</section>

<!-- footer section starts  -->

<section class="deal">

    <div class="content">
        <span>Music is Great!</span>
        <h3>Choose your artist</h3>
        <p>"I don't promise that I can change the world, but I promise that I can find words that will truly change the world."</p>
        <p> -Tupac Amaru Shakur</p>
    </div>

    <div class="image">
        <img src="image/tupak_shampur.png">
    </div>

</section>
<section class="deal">

    <div class="image">
        <img src="image/iphone12.png">
    </div>

    <div class="content">
        <span>Music is Comfort!</span>
        <h3>On any devices!</h3>
        <a href="#" class="btn">Register now</a>
    </div>

</section>

<!-- footer section ends -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>