{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <img src="image/logo.jfif" style="width: 40px; height: 40px">

    <nav class="navbar">
        <a href="welcome.html">Homepage</a>
        <a href="mymediaPlaylist.html">My media</a>
        <a href="profile.html">Profile</a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="#" class="fas fa-heart"></a>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="type artist or track name..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->

<!-- deal section starts  -->

<section class="profile" style="margin-top: 75px;">

    <div class="image">
        <img src="image/profile_example.jfif">
    </div>

    <div class="content">
        <h3>Information about user:</h3>
        <p>Name: </p>
        <p>Surname </p>
        <p>Username: </p>
        <p>Email: </p>
        <p>Region: </p>

    </div>

</section>

<!-- footer section ends -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>