{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="../media/photos/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<!-- header section starts  -->
{% include 'inc/_nav.html' %}
<!-- header section ends -->

<!-- deal section starts  -->

<section class="profile" style="margin-top: 75px;">

    <div class="image">
        <img src="image/profile_example.jfif">
    </div>

    <div class="content">
        <h3>Information about user:</h3>
        <p>Name: </p>
        <p>Surname </p>
        <p>Username: </p>
        <p>Email: </p>
        <p>Region: </p>

    </div>

</section>

<!-- footer section ends -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>