{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="{% static 'css/autioplayer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'inc/_navSlug.html' %}
   <div class="player">
       <div class="wrapper">
           <div class="details">
               <div class="track-art"></div>
               <div class="track-name">{{track.title}}</div>
               <div class="track-artist">{{track.get_artist}}</div>
           </div>
                <audio controls="controls" style="display: block; left: auto; right: 0; bottom: 0; z-index: 999;">
                    <source src="{{ track.song.url}}" type="audio/mpeg">
                </audio>
           </div>
   </div>
</body>
</html>