{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SDA </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<!-- header section starts  -->

{% include 'inc/_nav.html' %}

<!-- header section ends -->

<!-- deal section starts  -->

<section class="deal" style="margin-top: 75px;">

    <div class="image">
        <img src="../media/photos/music_woman.png">
    </div>

    <div class="content">
        <span>Music is Life!</span>
        <h3>Listen favourite track!</h3>
        <a href="all_track" class="btn">Go to Listen</a>
    </div>

</section>

<!-- deal section ends -->

<!-- featured section starts  -->
<section class="featured" id="featured">

    <h1 class="heading"> <span>Featured</span> albums </h1>
    <div class="swiper featured-slider">
        {% for show in album %}
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <div class="icons"></div>
                <div class="image"><img src="{{ show.photo.url }}"></div>
                <div class="content">
                    <h3>{{show.title}}</h3>
                    <div class="price">
                        <div class="tracks">{{show.artist}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</section>
<!--<section class="featured" id="featured">-->
<!--    <h1 class="heading"> <span>Genres</span></h1>-->
<!--    <div class="swiper featured-slider">-->
<!--        <div class="swiper-wrapper">-->
<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/rock_genre.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Rock</h3>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/hip-hop_genre.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Hip-Hop</h3>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/jazz_genre.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Jazz</h3>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/phonk_genre.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Phonk</h3>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/pop_genre.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Pop</h3>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/electronic_genre.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Electronic</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="swiper-button-next"></div>-->
<!--        <div class="swiper-button-prev"></div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="featured" id="featured">-->
<!--    <h1 class="heading"> <span>Other playlists</span></h1>-->
<!--    <div class="swiper featured-slider">-->
<!--        <div class="swiper-wrapper">-->
<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/мебель_плейлист.webp">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Дикая чистка мебели</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Лесоруб</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/цветок_плейлист.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Flora</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Artur Maximov</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/природа_плейлист.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Chill</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Dias Kurmashev</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/скала_джонсон_плейлист.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Rock Paper Scissors</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Dwayne Douglas Johnson</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/афро_плачет_плейлист.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>My sadness</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Nicolas Cage</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="swiper-button-next"></div>-->
<!--        <div class="swiper-button-prev"></div>-->
<!--    </div>-->
<!--</section>-->

<!-- featured section ends -->

<!-- footer section starts  -->

<section class="footer">
    <div class="credit"> We can see <span>you</span> </div>
</section>

<!-- footer section ends -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>