{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="../media/photos/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SDA </title>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</head>
<body>

<!-- header section starts  -->

{% include 'inc/_nav.html' %}

<!-- header section ends -->

<!-- deal section starts  -->

<section class="deal" style="margin-top: 65px;">

    <div class="image">
        <img src="../media/photos/music_woman.png">
    </div>

    <div class="content">
        <span>Music is Life!</span>
        <h3>Listen favourite track!</h3>
        <a href="albums" class="btn">Go to Listen</a>
        <a href="add_artist" class="btn">Create your Artist!</a>
        <a href="add_track" class="btn">Upload your own song!</a> <a href="add_album" class="btn">Create your Album!</a>
    </div>

</section>

<!-- deal section ends -->

<!-- featured section starts  -->
<section class="featured" id="featured">
    <h1 class="heading"> <span>Featured albums</span></h1>
    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 1, "autoplay": true }'>
    {% for i in album %}
        <a href="{% url 'album_detail' slug=i.slug %}"><img class="carousel-image" src="{{i.photo.url}}"></a>
    {% endfor %}
    </div>

</section>
<!-- yeat -->

<section class="featured" id="featured" style="margin-top: 100px;">
    <h1 class="heading"> <span>Genres</span></h1>
    <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 1, "autoplay": true }'>
        <a href="rap"><img class="carousel-image" src="../media/photos/1_7V4wole.png"></a>
        <a href="phonk"><img class="carousel-image" src="../../media/photos/2.png"></a>
        <a href="rock"><img class="carousel-image" src="../../media/photos/3.png"></a>
        <a href="jazz"><img class="carousel-image" src="../../media/photos/4.png"></a>
        <a href="pop"><img class="carousel-image" src="../../media/photos/5.png"></a>
    </div>
</section>
<!-- e -->
<!--<section class="featured" id="featured">-->
<!--    <h1 class="heading"> <span>Other playlists</span></h1>-->
<!--    <div class="swiper featured-slider">-->
<!--        <div class="swiper-wrapper">-->
<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/мебель_плейлист.webp">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Дикая чистка мебели</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Лесоруб</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/цветок_плейлист.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Flora</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Artur Maximov</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/природа_плейлист.jfif">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Chill</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Dias Kurmashev</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/скала_джонсон_плейлист.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>Rock Paper Scissors</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Dwayne Douglas Johnson</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="swiper-slide slide">-->
<!--                <div class="icons">-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <img src="image/афро_плачет_плейлист.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <h3>My sadness</h3>-->
<!--                    <div class="price">-->
<!--                        <div class="tracks">Nicolas Cage</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="swiper-button-next"></div>-->
<!--        <div class="swiper-button-prev"></div>-->
<!--    </div>-->
<!--</section>-->

<!-- featured section ends -->

<!-- footer section starts  -->

<section class="footer">
    <div class="credit"> We can see <span>you</span> </div>
</section>

<!-- footer section ends -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>