<header class="header" style="padding-bottom: 5px">

    <a href="../../../welcome"><img src="../../media/photos/logo.png" style="width: 40px; height: 40px"></a>

    <nav class="navbar">
        <a href="../../../welcome" style="text-decoration: none;">Homepage</a>
        <a href="../../../artists" style="text-decoration: none;">Artists</a>
        <a href="../../../albums" style="text-decoration: none;">Albums</a>
        <a href="../../../add_track" style="text-decoration: none;">Add Track</a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="#" class="fas fa-heart"></a>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="type artist or track name..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>